%mainButton {
   font-family: "Roboto", sans-serif;
   color: #fff;
   line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  font-size: calc(10px + 6 * (100vw / 1440));
    @media(max-width: 767px){
  font-size: calc(10px + (2 + 2 * 0.7 ) * ((100vw - 320px) / 1440));
  };
  padding: 13px 27px;
  border-radius: 10px;
  background: linear-gradient(90deg,rgba(255, 145, 0, 1) 36%, rgba(0, 0, 0, 1) 91%);
  @media(hover: hover){
    &:hover{
      background: linear-gradient(270deg,rgba(255, 145, 0, 1) 36%, rgba(0, 0, 0, 1) 91%);
    }
  };
}



