%mainText {
   font-family: "Roboto", sans-serif;
   color: #403536;
   line-height: 1.6;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: normal;
   font-size: calc(12px + 4 * (100vw / 1440));
     @media(max-width: 768px){
   font-size: calc(12px + (2 + 2 * 0.7 ) * ((100vw - 320px) / 1440));
  };
}


%tittleText{
   font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
   line-height: 1.2;
  color: #403536;
  font-size: calc(24px + 12 * (100vw / 1440));
  @media(max-width: 768px){
   font-size: calc(24px + (6 + 6 * 0.7 ) * ((100vw - 320px) / 1440));
  };
}

%tittleSpan{
  color: #ff9100;
}



/* yelow */
/* #ff9100 */


/* grey */
/* #f8f4e9 */


/* red */

/* #e11f21 */