@use './_fonts';

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: none;
   box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
body {
   @extend %mainText;
   font-optical-sizing: auto;

}
body::-webkit-scrollbar{
   display: none;
   -ms-overflow-style: none;
   scrollbar-width: none;
}
html,
body {
   height: 100%;
   min-width: 320px;
}
input {
   outline: none;
}
a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}
img {
	max-width: 100%;
	vertical-align: middle;
}
li {
   list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
main {
   flex: 1 1 auto;
}
.wrapper {
   overflow: hidden;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
[class*=__container] {
   max-width: 1440px;
   margin: 0 auto;
   padding: 0px 15px;
}


/* ======================================== */



/* yelow */
/* #ff9100 */


/* grey */
/* #f8f4e9 */


/* red */

/* #e11f21 */