@use './_button';
@use './fonts';
@use './reset';



.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   box-shadow: 1px 1px 5px #000;
   background: linear-gradient(90deg,rgba(255, 145, 0, 0.6) 21%, rgba(255, 177, 74, 1) 100%);
   backdrop-filter: blur(2px);
   z-index: 3;

   &__container {
   height: 95px;
   padding-top: 25px;
   padding-bottom: 25px;
   display: flex;
   justify-content: space-between;
   gap: 20px;
   align-items: center;
   text-align: center;
   position: relative;
      @media(max-width: 768px){
         height: 50px;
         padding-top: 14px;
         padding-bottom: 14px;
      };
   }

   &__logo {
      width: 183px;
      height: 45px;
      filter: drop-shadow(1px 1px 4px #000);
      & img{
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
      @media(max-width: 828px){
         width: 120px;
         height: 35px;
      };
      @media(max-width: 768px){
         width: 100px;
         height: 30px;
      };
   }

   &__menu {
      @media(max-width: 768px){
         position: absolute;
         right: 0;
         top: -150vh;
         transition: all .5s ease;
         background: linear-gradient(187deg,rgba(255, 145, 0, 0.6) 21%, rgba(255, 177, 74, 0.96) 81%);
         // background: linear-gradient(180deg,rgba(255, 145, 0, 1) 29%, rgba(245, 217, 184, 1) 100%);
         backdrop-filter: blur(3px);
         border-radius: 100% 0% 89% 11% / 0% 89% 11% 100% ;
         padding-top: 60px;
         &.active{
            top: 0px;
         }
      };
   }

   &__links {
      display: flex;
      gap: 14px;
      @extend %mainText;
      font-weight: 600;
      @media(max-width: 768px){
         flex-direction: column;
         padding: 0px 50px 50px;
         font-size: 16px;
         gap: 24px;
         color: #fff;
      };
   }

   &__link {
      position: relative;
      align-self: flex-start;
      &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 6px;
      height: 3px;
      border-radius: 5px;
      background: linear-gradient(90deg,rgba(252, 176, 69, 1) 0%, rgba(255, 145, 0, 1) 21%, rgba(225, 31, 33, 1) 100%);
      transition: all .5s ease;
      @media(max-width: 768px){
         display: none;
      };

      }
      @media(hover: hover){
         &:hover::after{
            width: 100%;
         }
      };

   }

   &__burger {
      display: none;
      position: relative;
      width: 26px;
      height: 16px;
      z-index: 3;
      cursor: pointer;
      &::before,
      &::after,
      & span {
         content: '';
         position: absolute;
         left: 0;
         height: 2px;
         width: 100%;
         background-color: #403536;
         transition: all .5s ease;
      }
      &::before{
         top: 0;
      }
      &.active::before{
         top: 46%;
         transform: rotate(45deg);
         background: linear-gradient(270deg,rgba(82, 71, 68, 1) 27%, rgba(255, 74, 74, 0.96) 81%);
      }
      &::after{
         bottom: 0;
      }
      &.active::after{
         bottom: 46%;
         transform: rotate(-45deg);
         background: linear-gradient(90deg,rgba(82, 71, 68, 1) 27%, rgba(255, 74, 74, 0.96) 81%);
      }
      & span{
         top: 50%;
         transform: translate(0 , -50%);
      }
      &.active span{
         opacity: 0;
      }
      @media(max-width: 768px){
         display: block;
      };
   }
}

// ===================================================================================================================
.hello {

   &__container {
      height: 100vh;
      display: flex;
      align-items: center;
   }

   &__body{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      position: relative;
      padding-top: 70px;
      padding-bottom: 110px;
      &::after{
         content: '';
         position: absolute;
         height: 100%;
         width: 100%;
         top: 0;
         right: -70%;
         background: linear-gradient(180deg,rgba(255, 145, 0, 1) 29%, rgba(245, 217, 184, 1) 100%);
         border-radius: 70px;
      }
   }
   &__informations {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: start;
      @media(max-width: 880px){
         gap: 20px;
      };
   }

   &__tittle {
      @extend %tittleText;
      & span{
         color: #ff9100;
      }
   }

   &__text {
      @extend %mainText;
   }

   &__image {
      flex: 0 0 50%;
      aspect-ratio: 848 / 477;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 1px 1px 15px #000;
      z-index: 2;
      & img{
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}


// ===================================================================================================================
