@use './_button';
@use './fonts';
@use './reset';



.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   box-shadow: 1px 1px 5px #000;

   &__container {
   height: 95px;
   padding-top: 25px;
   padding-bottom: 25px;
   display: flex;
   justify-content: space-between;
   gap: 20px;
   align-items: center;
   text-align: center;
   position: relative;
   background: linear-gradient(90deg,rgba(255, 145, 0, 0.01) 21%, rgba(255, 177, 74, 1) 100%);
   z-index: 2;
      @media(max-width: 768px){
         height: 50px;
         padding-top: 14px;
         padding-bottom: 14px;
      };
   }

   &__logo {
      width: 183px;
      height: 45px;
      & img{
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
      @media(max-width: 828px){
         width: 120px;
         height: 35px;
      };
      @media(max-width: 768px){
         width: 100px;
         height: 30px;
      };
   }

   &__menu {
      @media(max-width: 768px){
         position: absolute;
         right: 0;
         top: -100vh;
         transition: all .5s ease;
         background: linear-gradient(187deg,rgba(255, 145, 0, 0.01) 21%, rgba(255, 177, 74, 0.96) 81%);
         border-radius: 100% 0% 89% 11% / 0% 89% 11% 100% ;
         padding-top: 60px;
         z-index: 1;
         &.active{
            top: 0px;
         }
      };
   }

   &__links {
      display: flex;
      gap: 14px;
      @extend %mainText;
      font-weight: 600;
      @media(max-width: 768px){
         flex-direction: column;
         padding: 0px 50px 50px;
         font-size: 16px;
         gap: 24px;

      };
   }

   &__link {
      position: relative;
      align-self: flex-start;
      &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 6px;
      height: 3px;
      border-radius: 5px;
      background-color: #ff9100;
      transition: all .5s ease;
      @media(max-width: 768px){
         display: none;
      };

      }
      @media(hover: hover){
         &:hover::after{
            width: 100%;
         }
      };

   }

   &__burger {
      display: none;
      position: relative;
      width: 26px;
      height: 16px;
      z-index: 3;
      cursor: pointer;
      &::before,
      &::after,
      & span {
         content: '';
         position: absolute;
         left: 0;
         height: 2px;
         width: 100%;
         background-color: #000;
         transition: all .5s ease;
      }
      &::before{
         top: 0;
      }
      &.active::before{
         top: 46%;
         transform: rotate(45deg);
         background-color: #e11f21;
      }
      &::after{
         bottom: 0;
      }
      &.active::after{
         bottom: 46%;
         transform: rotate(-45deg);
         background-color: #e11f21;

      }
      & span{
         top: 50%;
         transform: translate(0 , -50%);
      }
      &.active span{
         opacity: 0;
      }
      @media(max-width: 768px){
         display: block;
      };
   }
}
