@use './_button';
@use './fonts';
@use './reset';



.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   box-shadow: 1px 1px 5px #000;
   background: linear-gradient(90deg,rgba(255, 145, 0, 0.6) 21%, rgba(255, 177, 74, 1) 100%);
   backdrop-filter: blur(2px);
   z-index: 3;

   &__container {
   height: 95px;
   padding-top: 25px;
   padding-bottom: 25px;
   display: flex;
   justify-content: space-between;
   gap: 20px;
   align-items: center;
   text-align: center;
   position: relative;
      @media(max-width: 768px){
         height: 50px;
         padding-top: 14px;
         padding-bottom: 14px;
      };
   }

   &__logo {
      width: 183px;
      height: 45px;
      filter: drop-shadow(1px 1px 4px #000);
      & img{
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
      @media(max-width: 828px){
         width: 120px;
         height: 35px;
      };
      @media(max-width: 768px){
         width: 100px;
         height: 30px;
      };
   }

   &__menu {
      @media(max-width: 768px){
         position: absolute;
         right: 0;
         top: -150vh;
         transition: all .5s ease;
         background: linear-gradient(187deg,rgba(255, 145, 0, 0.6) 21%, rgba(255, 177, 74, 0.96) 81%);
         // background: linear-gradient(180deg,rgba(255, 145, 0, 1) 29%, rgba(245, 217, 184, 1) 100%);
         backdrop-filter: blur(3px);
         border-radius: 100% 0% 89% 11% / 0% 89% 11% 100% ;
         padding-top: 60px;
         &.active{
            top: 0px;
         }
      };
   }

   &__links {
      display: flex;
      gap: 14px;
      @extend %mainText;
      font-weight: 600;
      @media(max-width: 768px){
         flex-direction: column;
         padding: 0px 50px 50px;
         font-size: 16px;
         gap: 24px;
         color: #fff;
      };
   }

   &__link {
      position: relative;
      align-self: flex-start;
      &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 6px;
      height: 3px;
      border-radius: 5px;
      background: linear-gradient(90deg,rgba(252, 176, 69, 1) 0%, rgba(255, 145, 0, 1) 21%, rgba(225, 31, 33, 1) 100%);
      transition: all .5s ease;
      @media(max-width: 768px){
         display: none;
      };

      }
      @media(hover: hover){
         &:hover::after{
            width: 100%;
         }
      };

   }

   &__burger {
      display: none;
      position: relative;
      width: 26px;
      height: 16px;
      z-index: 3;
      cursor: pointer;
      &::before,
      &::after,
      & span {
         content: '';
         position: absolute;
         left: 0;
         height: 2px;
         width: 100%;
         background-color: #403536;
         transition: all .5s ease;
      }
      &::before{
         top: 0;
      }
      &.active::before{
         top: 46%;
         transform: rotate(45deg);
         background: linear-gradient(270deg,rgba(82, 71, 68, 1) 27%, rgba(255, 74, 74, 0.96) 81%);
      }
      &::after{
         bottom: 0;
      }
      &.active::after{
         bottom: 46%;
         transform: rotate(-45deg);
         background: linear-gradient(90deg,rgba(82, 71, 68, 1) 27%, rgba(255, 74, 74, 0.96) 81%);
      }
      & span{
         top: 50%;
         transform: translate(0 , -50%);
      }
      &.active span{
         opacity: 0;
      }
      @media(max-width: 768px){
         display: block;
      };
   }
}

// ===================================================================================================================
.hello {
      scroll-margin-top: 100px;
   @media(max-width: 721px){
      padding-top: 150px;
   };
   @media(max-width: 484.98px){
      padding-top: 0;
   };
   &__container {
      height: 100vh;
      display: flex;
      align-items: center;
      gap: 40px;
         @media(max-width: 721px){
         flex-direction: column;
      };
   }
   &__informations {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: start;
      @media(max-width: 880px){
         gap: 20px;
      };
      @media(max-width: 721px){
         order: 2;
         padding-top: 140px;
        align-items: center;
        text-align: center;
      };
      @media(max-width: 484.98px){
         display: none;
      };
   }

   &__tittle {
      @extend %tittleText;
      & span{
         @extend %tittleSpan;
      }
   }

   &__text {
      @extend %mainText;
   }

   &__image {
      flex: 0 0 50%;
      aspect-ratio: 848 / 477;
      border-radius: 5px;
      box-shadow: 1px 1px 15px #000;
      position: relative;
      &::after{
      content: '';
      position: absolute;
      height: 180%;
      width: 600%;
      top: -30%;
      right: -542%;
      background: linear-gradient(180deg,rgba(255, 145, 0, 1) 29%, rgba(245, 217, 184, 1) 100%);
      border-radius: 70px;
      z-index: 1;
         @media(max-width: 721px){
            height: 140%;
            top: -15%;
         };
      }
      @media(max-width: 721px){
         order: 1;
         width: 100%;
         flex: 0 1 auto;
      };
      @media(max-width: 484.98px){
         display: none;
      };
      & img{
         width: 100%;
         height: 100%;
         object-fit: cover;
         position: absolute;
         z-index: 2;
         border-radius: 5px;
      }
   }
   &__video{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &-background{
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         z-index: 2;
         background-color: rgba(0, 0, 0, 0.2);
      }
      & video{
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
      @media(max-width: 484.98px){
         display: block;
      };
   }
}

// ===================================================================================================================
.factory {
      scroll-margin-top: 100px;

   &__container {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
      padding-bottom: 60px;
      @media(max-width: 484.98px){
         padding-top: 60px;
      };
   }

   &__tittle {
      @extend %tittleText;
      & span{
         @extend %tittleSpan;
      }
   }

   &__body {
      display: flex;
      align-items: center;
      gap: 40px;
      @media(max-width: 657.98px){
         flex-direction: column;
      };
   }

   &__img {
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 1px 1px 5px #000;
      flex: 1 1 calc(50% - 40px);
      & img{
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

   }

   &__informations {
      display: flex;
      flex-direction: column;
      gap: 40px;
      flex: 1 1 calc(50% - 40px);
      @media(max-width: 721.98px){
         gap: 20px;
      };
   }

   &__information {
      @extend %tittleText;
      & span{
         @extend %tittleSpan;
      }
      @media(max-width: 657.98px){
         text-align: center;
      };
   }

   &__text {
      @extend %mainText;

   }
}

// ===================================================================================================================

.advantages {
      scroll-margin-top: 100px;
   padding-top: 40px;
   // background: linear-gradient(176deg, #fd8902 0%, #ff4e00 41%);
   background: linear-gradient(90deg,rgba(253, 137, 2, 1) 22%, rgba(255, 121, 64, 1) 100%);
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 80px;
      flex-direction: column;
      padding-bottom: 20px;
   }

   &__advantages {
      @extend %tittleText;
               text-transform: uppercase;
      color: #000;
      & span {
         color: #fff;

      }
   }

   &__blocks {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      text-align: center;
      flex-wrap: wrap;
      @media(max-width: 767.98px){
         flex-direction: column;
         gap: 60px;
      };
   }

   &__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
      flex: 1 0 calc(33.333333% - 50px);
         @media(max-width: 767.98px){
            flex: 1 1 auto;
      };
   }
}
.block-advantages {
      scroll-margin-top: 100px;
   &__img {
      width: 72px;
      height: 72px;
      padding: 4px;
      border-radius: 15px;
      border: dashed 2px #000;
      box-shadow: 0 0 5px #000;
      & img{
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }

   &__tittle {
      @extend %tittleText;
      color: #fff;
      text-transform: capitalize;
   }

   &__text {
      @extend %mainText;
      color: #000;
      font-weight: 600;
   }
}

// ===================================================================================================================


.main {
   background: url('../img/Lion.jpg') 0 0 no-repeat;
   background-position: center;
   background-size: cover;
      scroll-margin-top: 100px;
   &__container {
      padding-top: 40px;
      padding-bottom: 40px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      align-items: center;
   }

   &__tittle {
      @extend %tittleText;
      color: #fff;
      @media(max-width: 705.98px){
         text-align: center;
      }
      & span{
         color: #ff9100;
      }
   }

   &__blocks {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: start;
      @media(max-width: 705.98px){
         gap: 15px;
      }
   }

   &__block {
      display: flex;
      gap: 35px;
      align-items: center;
      justify-content: space-between;
      padding: 40px 29px;
      background-color: #1b1b1b;
      border-radius: 8px;
      @media(max-width: 705.98px){
         flex-direction: column;
         align-items: center;
         padding: 30px 24px;
      };
      &:nth-child(even){
         @media(min-width: 706px){
         flex-direction: row-reverse;
         };
      }

   }

   &__information {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 1 1 calc(50% - 20px);
      align-self: self-start;

   }
}
.information-main {
   text-shadow:0px 5px 15px #ff9100;
   &__tittle {
      @extend %tittleText;
      color: #fff;
      @media(max-width: 705.98px){
         text-align: center;
      };
   }

   &__text {
      @extend %mainText;
      color: #fff;

   }

   &__img {
      aspect-ratio: 330 / 208;
      height: 208px;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0px 0px 15px #ff9100;
      & img{
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
      @media(max-width: 705.98px){
         height: 100%;
         width: 100%;
      }
   }
}


// ===================================================================================================================

.order {
      scroll-margin-top: 100px;
      padding-top: 60px;
      padding-bottom: 60px;
      background: linear-gradient(90deg,rgba(255, 204, 145, 1) 22%, rgba(255, 176, 143, 1) 100%);
      
   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
   }

   &__tittle {
      @extend %tittleText;
      text-align: center;
   }

   &__body {

   }

   &__form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      text-align: center;
   }

   &__input {
      border: solid 1px #000;
      border-radius: 20px;
      padding: 5px 15px;
      box-shadow: 0 0 7px #000;
      
   }
}

// ===================================================================================================================

.faq {
   padding-top: 60px;
   padding-bottom: 60px;
   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 50px;
      position: relative;
   }
   &__img--one{
      position: absolute;
      top: 145px;
      left: 35px;
      @media(max-width: 630px){
         top: 130px;
         left: -50px;
      };
      @media(max-width: 424.98px){
         top: 106px;
      };
   }
   &__img--two{
      position: absolute;
      top: 538px;
      right: 0%;
      @media(max-width: 768.98px){
         right: -5%;
         top: 520px;
      };
      @media(max-width: 630px){
         right: -10%;
      };
      @media(max-width: 424.98px){
         top: 435px;
      };
   }
   &__tittle {
      @extend %tittleText;
      z-index: 1;
      & span{
         @extend %tittleSpan;
      }
   }

   &__blocks {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
      width: 80%;
      @media(max-width: 630px){
         width: 100%;
      };
   }

   &__block {
      padding: 25px;
      text-align: start;
      display: flex;
      width: 100%;
      cursor: pointer;
      overflow: hidden;
      border-radius: 10px;
      backdrop-filter: blur(2px);
      background-color: #dedede2a;
      border: 2px solid #ffffff49;
      &.active {
         .faq__informations::after{
         transform: rotate(45deg);
         transition: all .4s ease-in;
         background-color: #e11f21;
         }
         .faq__answer{
            max-height: 100px;
            transition: max-height .6s ease-in;
         }
      }
      @media(max-width: 424px){
         padding: 15px;
      };
   }
   &__number{
      @extend %mainText;
      color: #ff9100;
      font-weight: 800;
   }
   &__informations {
      display: flex;
      flex-direction: column;
      padding-left: 60px;
      padding-right: 20px;
      gap: 20px;
      position: relative;
      width: 100%;
      @media(max-width: 468px){
         padding-left: 20px;
      };
      &::after{
         content: '';
         background: url(../img/plus.svg)0 0 no-repeat;
         position: absolute;
         background-size: contain;
         top: 0;
         right: 0;
         width: 20px;
         height: 20px;
         transition: all .3s ease-out;
         filter: drop-shadow(rgb(0, 0, 0) 1px 1px 1px);
         background-color: #ff9100;
      }
   }

   &__faq {
      font-weight: 800;
   }

   &__answer {
      width: 80%;
      overflow: hidden;
      max-height: 0;
      transition: max-height .3s ease-out;
      @media(max-width: 768px){
         width: 90%;
      };
      @media(max-width: 525px){
         width: 100%;
      };
   }
}

// ===================================================================================================================
